#span1{
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid orange;
    font-size: x-large;
    font-style: italic;
    margin-left: 2%;
    
}
#span2{
    color: purple;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
}
#border{
    border-top: 1px solid black;
}
#span3{
    color: orange;
    padding-left: 8%;
    font-weight: bold;
    font-style: italic;
}