.orange{
    color: #F1800E;
    font-size: x-large;
}
.purple{
    color: #6518B8;
}
#spanUpload{
 font-size: x-large; 
 font-weight: bold;
 margin-left: 30%;
}
#spanUpload2{
 font-size: x-large; 
 font-weight: bold;
}